.navbutton{

    background-color:rgb(116,28,124);
    width: 30vw;
    height: 10vh;

}

.yellow{
    color: rgba(240,183,29,255);
}

.white{

color:white

}
.herosection{
width: 100%;

}


.purple{

color: rgb(116,28,124);

}

.box{
background-color:#701e7d;
height: 500px;

}

.cardclr{



background-color: #701e7d !important;


}

.sixe{
width: ;
}


.boxgrey{

background-color: rgba(235,235,235,255);
height: 350px;

}

.backgr{

    background-color: rgba(235,235,235,255);
}

.small{

 color: white;
 height:90px

}
 .purplebutton{
    background-color:rgb(116,28,124);
 }

 .navbarht{

height:60px

 }

 .whitebrdr{

    
    border-right:1px solid white ;
    height: 90px;
 }


 .borderline{

border-left: 1px solid rgb(99, 97, 97);

 }

 